[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sdv = "*"
dp-cgans = "*"
imblearn = "*"
xgboost = "*"
pika = "*"
recordlinkage = "*"
fairlearn = "*"
aif360 = "*"
tk = "*"
lightgbm = "*"
dataloader = "*"
seaborn = "*"
fairgbm = "*"
wheel = "*"
cmake = "*"
nbformat = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
